APP_NAME=evolusea-backend
ENV=local


POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=evolusea-backend
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

FIREBASE_CREDENTIALS_ENCODED=your_base64_encoded_firebase_service_account_json

OPENAI_API_KEY=sk-your-openai-api-key
GEMINI_API_KEY=your-gemini-api-key


# Domain
## Compass
COMPASS_TURNS_COUNT_SOFT_LIMIT=10
COMPASS_TURNS_COUNT_HARD_LIMIT=25

## Wisdom Story
WISDOM_STORY_STRAPI_SYNC_CRON=*/15 * * * *
WISDOM_STORY_STRAPI_SYNC_TIMEZONE=UTC

STRAPI_API_TOKEN=your_strapi_api_token
STRAPI_URL=https://your-strapi-instance.example.com

# STRAPI_URL=http://localhost:1337
# STRAPI_URL=
# STRAPI_API_TOKEN=your_strapi_api_token_here

# RevenueCat
## Configurable on RevenueCat dashboard
REVENUE_CAT_API_KEY_V1=your_revenuecat_api_key_v1
REVENUE_CAT_API_KEY_V2=your_revenuecat_api_key_v2
REVENUE_CAT_PROJECT_ID=your_revenuecat_project_id

## Random password created by developer and used in webhook configuration
REVENUE_CAT_WEBHOOK_KEY=your_revenuecat_webhook_key
NODE_ENV=development
